.container{
    display: flex;
    flex-direction: row;
    background-color: rgb(150, 188, 234);
    border-radius: 20px;
    width: 100%;
    height: 220px;
    text-decoration: underline;
}

img{
    width: 100px;
    height: 100px;
    margin-top: 0px;
    padding: 30px;
}
h1{
    font-size:small;
    padding-left:40px;
    padding-top: 40px;
    text-align: center;
}
.container div{
display:flex ;
flex: 1;
flex-direction: row;
box-sizing: 30px;
padding: 20px;
margin-top: 60px;
background-color: rgb(161, 201, 239);
width: 60px;
height: 20px;
border-radius: 10px;
justify-content: space-between;
gap: 50px;
}
.container2{
    background-color: rgb(162, 209, 233);
    height: 230px;
    margin-top: 1px;
    border-radius: 20px;
}
h1{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-decoration: underline;
    font-style: italic;
}
button{
    background-color: rgb(186, 186, 231);
    border-color: black;
    border-radius: 10px;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    margin-right: 1px;
    margin-left: 30%;
}
button:hover{
    background-color: rgb(148, 207, 207);
    transition: 3s;
}
.container3{
    background-image:linear-gradient(rgb(133, 165, 199),rgb(159, 237, 237));
    border-radius: 10px;
    margin-top: 40px;
    width: 100%;
    height: 180px;
}
h2{
    text-align: center;
}
p{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.container4{
   
    border-radius: 20px;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    padding-top: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex: 1;
}
h3{
    font-size: x-large;
    text-align: center;
}
.container4 div {
    
   box-shadow: 0 20px 30px rgba(0, 0, 0, 0.497);
    border-radius: 20px;
    background-color: rgb(179, 186, 217);
    text-align: center;
    padding: 20px;
    flex-direction:row;
    margin-top: 30px;
    border-color:solid rgb(0, 0, 0);
    margin-left: 50px;
}
.container5{
    width: 100%;
    height: 250px;
    background-color: rgb(242, 241, 213);
    border-radius: 20px;
    margin-top: 10px;
}
.images{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 300px;
    height: 300px;
    box-sizing: 300px;
    margin-left: 350PX;

}
h4{
    text-align: center;
    font-size:xx-large;
    font-weight: 200px;
}
p1{
    padding-top: 40px;
    margin-top: 20px;
    text-align: center;
    text-decoration: double;
}
h4{
    font-size: larger;
}
.box{
    background-image: linear-gradient(rgb(104, 236, 199),rgb(79, 79, 132));
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
}
h5{
    font-size: xx-large;
}
footer{
    text-align:center;
    background-color: rgb(223, 235, 235);
    border-radius: 20px;
}
footer a{
    text-decoration: none;
}
a:hover{
    color: rgb(115, 0, 222);
    text-decoration: underline;
}